
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --cor-principal: #0A2647;
    --cor-secundaria: #144272;
    --cor-terciaria: #205295;
    --cinza-bloco: #DDDDDD;
    --fonte-principal: 'Montserrat', sans-serif;
}

.page{
    background: linear-gradient(var(--cor-principal), var(--cor-secundaria),var(--cor-terciaria)) ;
    height:fit-content;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__formulario{
    width: fit-content;
    height: fit-content;
    background-color: var(--cinza-bloco);
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    border-radius:7px;
    box-shadow: 2px 2px 4px 1px black;    
}

.principal__item{
   display: flex;
   justify-content: center;
    align-items: center;
}
.formulario__inventario{
    display: inline-flex;
    gap: 1.3rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    padding: 1.4rem  1rem;
    
}
.container__titulo{
    display:block;
    width: 100%;
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 1.6rem;
    font-weight: 900;
}

.formulario__texto{
    font-family: var(--fonte-principal);

}

.input__formulario{
    width: 5rem;
    border-radius: 0px;
    margin-top:3.9px;
    border: solid 2px gray;
    font-family: var(--fonte-principal);
}

#btn__select{
    width:fit-content;
}
.input__qtd{
    width: 3rem;
}

.input__data{
    font-size: 0.7rem;
    width:6rem;
}
.container__itens{
    margin-top: 4rem;
    background-color: var(--cinza-bloco);
    box-shadow: 2px 2px 4px 1px black;
    border-radius:7px;
    align-items: center;
}
.container__item{
    width: fit-content;
    height: fit-content;
    display: flex;
    margin-top: 0.5rem;
    justify-content: center;
    align-items: center;
}

.item__texto{
    display: inline-block;
    font-family: var(--fonte-principal);
    margin-left: 2rem;
    font-size: 1rem;
    
}

.item__texto1{
    display: inline-block;
    font-family: var(--fonte-principal);
    margin-left: 2rem;
    font-size: 0.94rem;
}

.item__edita{
    background: none;
    border: none;
    width:20px;
    height: 20px;
    margin-right: 4px;
}

.imagem__item{
    width: 20px;
    height:20px;
}

.item__exclui{
    background: none;
    border: none;
    
}

.item__edita:hover{
    cursor: pointer;

}
.item__exclui:hover{
    cursor: pointer;

}

.item__lista{
    display: flex;
    gap: 2rem;
    padding: 1rem 0.5rem;
}
.item__conteudo{
    font-size: 1.3rem;
    font-weight: 700;
    font-family: var(--fonte-principal);
}
.item__conteudo1{
    font-family: var(--fonte-principal);
    font-size: 1.1rem;
}
.item__lista1{
    display: flex;
    gap: 4.2rem;
    padding: 1rem 0.5rem;
    margin-left: 0.5rem;
}

#item__tipo{
    padding-left: 2rem;
    padding-right: 2rem;
}

#conteudo__data{
    padding-left: 3rem;
}

.tabela__linha{
    margin: 20px 0
}

.tabela__conteudo{
    width: 9rem;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: var(--fonte-principal);
    text-align: center;
    padding: 20px 0;
}

.tabela__conteudo__item{
    padding: 20px 0;
    width: 9rem;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: var(--fonte-principal);
    text-align: center;

}

.footer{
    height: 4vh;
}

@media screen and (max-width: 700px){

.tabela__conteudo{
    font-size: 0.8rem;
}

.tabela__conteudo__item{
    font-size: 0.8rem;
}

}